
button.btnPrintCertificate{
    background-color: rgba(var(--semi-purple-5)) !important;
}

button.btnPrintCertificate:hover {
    background-color: rgba(var(--semi-purple-7)) !important;
}

.semi-avatar-blue {
    background-color: var(--semi-color-primary) !important;
}